@import "../../Assets/colors.scss";
@import "../../Assets/fonts.scss";
@import "../../Assets/layout.scss";


.form {
    height: 50%;
    width: 60%;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    gap: var(--section-gap)
}


// Join
.basicLogin .terms {
    justify-content: flex-start;
    gap: 0.5rem;
}

.basicLogin .backToLogin {
    justify-content: flex-end;
    font-style: italic;
    margin-right: 1rem;
    gap: 0.5rem;
    color: var(--clr-gray);
}

// Title
.title {
    text-align: center;
    font-size: var(--font-size-3);
}

// Basic Login
.basicLogin {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: var(--padding-1);
}

.basicLogin > div {
    display: flex;
    gap: var(--component-gap);
    justify-content: space-around;
}

.basicLogin .label {
    margin: auto;
    width: 6rem;
    text-align: end;
}

.basicLogin input {
    width: -webkit-fill-available;
    border-radius: var(--border-radius-1);
    border: none;
    padding: var(--padding-1) var(--padding-2);
    background-color: var(--clr-background);
}

.basicLogin input[type="checkbox"] {
    width: min-content;
}

.basicLogin .btn {
    margin-top: 1.2rem;
    flex-direction: column;
}

.btn button {
    width: 100%;
}


// SNS Login
.snsLogin {
    text-align: center;
    color: gray;
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: var(--component-gap);
}
