
// MARK: LIST
.board-list-container {
    padding: 20px;
}

.button-link {
    text-decoration: none;
    display: inline-block;
    margin-bottom: 1rem;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;

    button {
        margin: 0 5px;
        padding: 10px 20px;
        border: none;
        background-color: #f0f0f0;
        cursor: pointer;

        &.active {
            background-color: #007bff;
            color: white;
        }

        &:hover {
            background-color: #007bff;
            color: white;
        }
    }
}

.button-link {
    margin-left: auto; /* 버튼을 오른쪽으로 정렬 */
    button {
        padding: 10px 20px;
    }
}
.Board-body {
    margin-bottom: 30px;
    height: 29rem;

    ul {
        list-style-type: none; /* 목록의 기본 스타일 제거 */
        padding: 0;
        margin: 0;

        li {
            display: grid;
            grid-template-columns: 1fr 10fr 2fr 4fr 2fr;
            border-bottom: 1px solid var(--clr-lightgray);
            color: var(--clr-dark);
            text-align: center;
            height: 3rem;
        }
        
        .list-header {
            color: var(--clr-gray);
            text-align: center;
            .header-item {
                padding: 5px;
                font-weight: 100;
            }
        }

        .list-contents {
            font-size: var(--font-size-2);
            color: var(--clr-dark);
        }

        li {
            
            align-items: center;
            padding: 1px 0;
            border-bottom: 0.5px solid var(--clr-gray);
            

            .title {
                text-decoration: none; /* 밑줄 제거 */
                cursor: pointer;
                display: inline-block; /* 인라인 블록 요소로 설정 */
                font-size: var(--font-size-3);

                &:hover {
                    text-decoration: underline; /* 호버 시 밑줄 추가 */
                }
            }

        }
    }
}


// MARK: WRITE

.form-container {
    margin-top: 20px;
    height: 29rem;

    .content {
        height: 30rem;
    }

    label {
        font-weight: bold;
        margin-bottom: 5px;
        display: block;
    }

    input[type="text"], textarea {
        width: -webkit-fill-available;
        padding: var(--padding-3);
        font-size: var(--font-size-4);
        border-style: none;

        &:focus{
            outline: none;
        }
    }

    textarea {
        resize: vertical;
        height: 23rem;
        margin: 1.2rem 0rem;
        background-color: var(--clr-background);
        border-radius: var(--border-radius-1);
        resize: none;
    }

    .button-container {
        display: flex;
        justify-content: end;

        button {
            padding: 10px 20px;
            font-size: 16px;
        }
    }
}


// MARK: Detail
.detail-header{
    display: flex;
    justify-content: space-between;
    gap: var(--component-gap);
    align-items: center;

    padding: var(--padding-3);
    font-size: var(--font-size-1);
    color: var(--clr-gray);
    text-align: center;

    .detail-title {
        flex: 20;
        font-size: var(--font-size-3);
        font-weight: 700;
        color: var(--clr-dark);
        text-align: left;
    }
    .detail-author {
        flex: 3;
    }
    .detail-views {
        flex: 2;
    }
    .hiddenMenu {
        flex: 1;
        font-size: var(--font-size-3);
        cursor: pointer;
    }
}
.delete-button {
    display: flex;
    justify-content: right;
    margin-top: 20px;

    button {
        margin: 0 5px;
        padding: 10px 20px;
        border: none;
        background-color: #f0f0f0;
        cursor: pointer;

        &.active {
            background-color: #007bff;
            color: white;
        }

        &:hover {
            background-color: #007bff;
            color: white;
        }
    }
}
.comment-detail {
    height: 8rem;
    overflow: scroll;

    ul {
        margin: 0;
        padding: 0;
    }

    .comment-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 0.5px dashed var(--clr-gray);
        padding: var(--padding-1);
        gap: var(--section-gap);

        .comment-content {
            flex: 1;
            margin: 0;
            font-size: var(--font-size-2);
            color: var(--clr-dark);
        }
    
        .comment-author {
            font-size: var(--font-size-1);
            color: var(--clr-gray);
            margin-left: 16px;
        }
    }
}
.comment-list {
    display: flex;
    justify-content: space-between;
    gap: var(--component-gap);
    margin-top: 20px;
    align-items: right;

    button {
        margin: 0 5px;
        padding: 10px 20px;
        flex: 1;
    }

    input {
        border: none;
        background-color: var(--clr-background);
        border-radius: var(--border-radius-1);
        padding: var(--padding-2);
        flex: 9;

        &:focus {
            outline: none;
        }
    }
    
}
.board-detail {
    .box {
        background-color: white;
        padding: 10px;
        margin-top: 16px;
        margin-bottom: 16px;
    }

    h1 {
        text-align: center;
        font-size: 1.5rem;
    }

    p {
        height: 20rem;
        overflow: scroll;
        padding: var(--padding-1) var(--padding-3);
    }
    h3 {
        text-align: right;
        font-size: 1rem;
    }
}
.comment-detail {
    h2 {
        text-align: left;
        font-size: 1rem;
    }
    .box {
        background-color: white;
        padding: 20px;
        margin-top: 16px;
        margin-bottom: 16px;
    }
}

