.news-head{
    display: flex;
    justify-content: space-between;
    gap: var(--component-gap);
    align-items: center;

    padding: var(--padding-3);
    font-size: var(--font-size-1);
    color: var(--clr-gray);
    text-align: center;

    .detail-title {
        flex: 20;
        font-size: var(--font-size-3);
        font-weight: 700;
        color: var(--clr-dark);
        text-align: left;
    }
    .detail-time {
        flex: 3;
    }
    .detail-agency {
        flex: 2;
    }
}

.news-detail {
    .box {
        background-color: white;
        padding: 10px;
        margin-top: 16px;
        margin-bottom: 16px;
    }

    h1 {
        text-align: center;
        font-size: 1.5rem;
    }

    p {
        height: 20rem;
        overflow: scroll;
        padding: var(--padding-1) var(--padding-3);
    }
    h3 {
        text-align: right;
        font-size: 1rem;
    }
}

.news-content {
    padding: var(--padding-2);
    font-size: var(--font-size-2);
    line-height: 1.6;
    height: auto;
    max-height: 50vh; // Adjust the maximum height as needed
    overflow-y: auto; // Ensure content is scrollable if it exceeds max-height
    background-color: #f9f9f9; // Light background color for better readability
    margin-top: var(--margin-2);
    margin-bottom: var(--margin-2);
  }