@import "../../Assets/colors.scss";
@import "../../Assets/fonts.scss";
@import "../../Assets/layout.scss";


.box {
    background-color: var(--clr-background);
    height: -webkit-fill-available;
    margin: 1.2rem;
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
}

.box.large {
    width: -webkit-fill-available;
}

.box.medium {
    width: 40lvw;
}