:root {
    --clr-white: #fff;
    --clr-black: #000;
    --clr-background: #F1F6FF;
    --clr-light: #D2E3FC;
    --clr-primary: ;
    --clr-highlight: #1A73E7;
    --clr-warning: #FF6D7F;
    --clr-success: #38b8b2;
    --clr-dark: #3C4043;
    --clr-lightgray: #F2F6FB;
}