:root {

    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 0.8rem;
    --border-radius-3: 1.2rem;

    --card-padding: 1.8rem;
    --container-padding: 60px;
    --padding-1: 0.5rem;
    --padding-2: 0.8rem;
    --padding-3: 1.2rem;
    --box-shadow: 0 2rem 3rem var(--clr-light);

    --sub-section-width: 15rem;

    --component-gap: 1.2rem;
    --section-gap: 2rem;
}