
.chatLog {
    height: -webkit-fill-available;
}

.chatLog > div {
    gap: 0.5rem;
    display: flex;
    flex-direction: column;
}

.chatLog .contents {
    width: fit-content;
    padding: var(--padding-1) var(--padding-3);
    border-radius: 0.8rem;
    max-width: 80%;
}

.chatLog .contents span {
    white-space: pre-line;
}


/* BOT */
.chatLog .BOT .contents {
    background-color: var(--clr-lightgray);
}

/* USER */
.chatLog .USER {
    align-items: end;
    text-align: end;
}

.chatLog .USER .contents {
    background-color: var(--clr-light);
}