
.admin-db.layout {
    display: flex;
    height: calc(100% - 38.4px);
    box-sizing: border-box;
    overflow: auto;

    .sidebar {
        width: 20%;
        height: 100%;
        background-color: #f4f4f4;
        padding: 20px;
        box-sizing: border-box;
        flex-shrink: 0;
        overflow-y: auto;

        .menu {
            display: flex;
            flex-direction: column;
            padding: 10px 0;

            span {
                cursor: pointer;
                padding: 10px;
                border-radius: 4px;
                margin-bottom: 10px;

                &.active {
                    background-color: #ddd;
                    font-weight: bold;
                }

                &:hover {
                    background-color: #eee;
                }
            }
        }
    }

    .content {
        flex: 1;
        display: flex;
        flex-direction: column;
        width: 80%;
        padding: 20px;
        box-sizing: border-box;

        .gbox {
            flex: 1;
            border: 1px solid #ddd;
            padding: 10px;
            box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
            background-color: white;
            margin-bottom: 10px;

            &.large {
                flex: 1;
            }
        }
    }

    .api-section {
        margin-top: 10px;

        h2 {
            margin-bottom: 10px;
            font-size: 1.2em;
            border-bottom: 2px solid #ddd;
            padding-bottom: 5px;
        }

        .api-item {
            display: flex;
            align-items: center;
            margin-bottom: 5px;

            /* api on/off switch */
            label.switch {
                position: relative;
                display: inline-block;
                width: 34px;
                height: 20px;
                margin-right: 10px;
            }

            .switch input {
                opacity: 0;
                width: 0;
                height: 0;
            }

            .slider {
                position: absolute;
                cursor: pointer;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background-color: #ccc;
                transition: 0.4s;
                border-radius: 34px;
            }

            .slider:before {
                position: absolute;
                content: '';
                height: 14px;
                width: 14px;
                left: 3px;
                bottom: 3px;
                background-color: white;
                transition: 0.4s;
                border-radius: 50%;
            }

            input:checked + .slider {
                background-color: #2196f3;
            }

            input:checked + .slider:before {
                transform: translateX(14px);
            }

            .api-label {
                margin-left: auto;
                margin-right: 10px;
            }

            select {
                margin-left: 10px;
                padding: 5px;
            }
        }
    }
    /* file */
    .file-section {
        h2 {
            margin-bottom: 10px;
            font-size: 1.2em;
            border-bottom: 2px solid #ddd;
            padding-bottom: 5px;
        }

        .file-actions {
            display: flex;
            justify-content: space-between;
            margin-bottom: 10px;

            .left-actions {
                button {
                    padding: 5px 10px;

                    &:hover {
                        background-color: #ccc !important;
                    }
                }
            }

            .right-actions {
                display: flex;

                button {
                    margin-left: 10px;
                    padding: 5px 10px;

                    &:hover {
                        background-color: #ccc !important;
                    }
                }
            }
        }
        .file-list {
            list-style: none;
            padding: 0;
            overflow-y: auto;
            max-height: 80px;

            li {
                display: flex;
                align-items: center;
                margin-bottom: 5px;
                padding: 5px;
                border: 1px solid #ddd;
                border-radius: 4px;

                span {
                    margin-left: auto;
                    color: #666;
                }
            }
        }
    }

    /* Web, Mobile size */
    @media (max-width: 1200px) {
        .sidebar {
            width: 200px;
        }

        .content {
            width: calc(100% - 200px);
        }
    }

    @media (max-width: 992px) {
        .sidebar {
            width: 150px;
        }

        .content {
            width: calc(100% - 150px);
        }
    }

    @media (max-width: 768px) {
        flex-direction: column;

        .sidebar {
            width: 100%;
            height: auto;
            min-width: 100%;
        }

        .content {
            width: 100%;
            flex: 1;
        }
    }

    @media (max-height: 500px) {
        flex-direction: column;

        .sidebar {
            width: 100%;
            height: auto;
            min-width: 100%;
        }

        .content {
            width: 100%;
            flex: 1;
        }
    }
}
