.col {
    height: 3rem;
    border-bottom: 0.5px solid var(--clr-gray);
    margin: auto;
    align-items: center;
    display: flex;
    justify-content: space-between;
    gap: 1rem;

    &:hover {
        background-color: var(--clr-lightgray);
    }
}

.col .headline {
    width: -webkit-fill-available;
}

.col .no {
    font-size: var(--font-size-1);
    color: var(--clr-dark);
}

.col .views {
    font-size: var(--font-size-2);
    color: var(--clr-dark);
}

.col .detail {
    min-height: 10rem;
    margin: 0.3rem;
    max-height: max-content;
    padding: var(--card-padding);
    background-color: var(--clr-lightgray);
    border-radius: var(--border-radius-1);
    white-space: break-spaces;
}