@import "../Assets/colors.scss";

* {
    font-family: "IBM Plex Sans KR", serif;
}

.display {
    width: 100vw;
    height: 100vh;
    display: flex;
}

main {
    width: calc(100% - 96px);
    height: 100%;
    display: flex;
    flex-direction: column;
}

body {
    margin: 0px;
}

.container {
    padding: var(--padding-3) var(--container-padding);
    height: -webkit-fill-available;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}


/* Icon animation */

.animatedIcon {
    &:hover{
        color: var(--clr-black);
        animation: beat infinite 1s linear;
    }
  }

@keyframes beat {
    0% { transform: scale(1); }
    50% { transform: scale(1.2); }
    100% { tansform: scale(1)}
  }